<div class='nested-fields'>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :numismatic_reference_id, required: f.object.required?(:numismatic_reference_id) %>
      <%= link_to 'New Reference', new_numismatics_reference_path, class: 'btn btn-sm btn-primary new-link', target: '_blank'%>
      <%= f.hidden_field :numismatic_reference_id, ajax_select_type: "Reference"%>
    </div>
    <div class="col-md-6">
      <%= f.input :uri, required: f.object.required?(:uri), label: "URI" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :part, required: f.object.required?(:part), label: "Part" %>
    </div>
    <div class="col-md-6">
      <%= f.input :number, required: f.object.required?(:number), label: "Number" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :citation_type,
        as: :select,
        collection: ["Exhibit"],
        required: f.object.required?(:citation_type),
        include_blank: true %>
    </div>
  </div>
  <%= f.hidden_field :id %>
  <%= link_to_remove_association f do %>
    <button type="button" class="btn btn-link remove">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">Remove</span>
    </button>
  <% end %>
</div>
