<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>File Set Title</th>
      <th>File Title</th>
      <th>Last Fixity Check Status</th>
      <th>Date Last Checked</th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |event| %>
      <tr>
        <td>
          <% if event.affected_resource&.preserved_resource.present? %>
            <%= link_to(event.affected_resource.preserved_resource.title.first, solr_document_path(id: event.affected_resource.preserved_resource.id)) %>
          <% else %>
            Preservation Object: <%= event.resource_id %> (Deleted)
          <% end %>
        </td>
        <td>
          <% if event.affected_child.present? && event.affected_resource.preserved_resource.present? %>
            <%= link_to(event.affected_child.label.first, solr_document_path(id: event.affected_resource.preserved_resource.id)) %>
          <% end %>
        </td>
        <td><%= event.status %></td>
        <td><%= event.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
