<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>File Set Title</th>
      <th>Parent Resource Title</th>
      <th>Last Fixity Check Status</th>
      <th>Date Last Checked</th>
      <th>Date of Last Success</th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.title.first, ContextualPath.new(child: resource, parent_id: resource.parent&.id).show %></td>
        <td><%= link_to(resource.parent.title.first, ContextualPath.new(child: resource.parent).show) if resource.parent %></td>
        <td><%= format_fixity_success(resource.primary_file&.fixity_success) %></td>
        <td><%= resource.updated_at %></td>
        <td><%= format_fixity_success_date(resource.primary_file&.fixity_last_success_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
