<div id="content" class="col-sm-12">
  <div id="bulk-edit-constraints">
    <%= render partial: "catalog/constraints" %>
  </div>
  <div class="card">
    <div class="card-header">Bulk edit <%= @resources_count %> resources</div>
    <div class="card-body">
      <%= form_tag bulk_edit_resources_update_url(search_params: search_state.params_for_search), id: "bulk-edit-form", class: "form-group" do %>
        <div class="row">
          <div class="col-sm-2"><label>Workflow State</label></div>
          <div class="checkbox">
            <%= check_box_tag "mark_complete" %>
            <%= label_tag "mark_complete", "Mark all complete" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><label>Remote Metadata</label></div>
          <div class="checkbox">
            <%= check_box_tag "refresh_remote_metadata" %>
            <%= label_tag "refresh_remote_metadata", "Refresh remote metadata" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= label_tag "ocr_language", "OCR Language" %></div>
          <%= select_tag :ocr_language,
              options_from_collection_for_select(ControlledVocabulary.for(:ocr_language).all, "value", "label"),
              hint: "Set this field to trigger OCR generation",
              include_blank: "[Do not update]",
              input_html: { class: 'form-control ocr-language' },
              required: false %>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= label_tag "rights_statement", "Rights Statement" %></div>
          <%= select_tag :rights_statement,
              options_from_collection_for_select(ControlledVocabulary.for(:rights_statement).all, "value", "label"),
              include_blank: "[Do not update]",
              input_html: { class: 'form-control rights-statement' },
              required: false %>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= label_tag "visibility", "Visibility" %></div>
          <%= select_tag :visibility,
              options_from_collection_for_select(ControlledVocabulary.for(:visibility).all, "value", "label"),
              include_blank: "[Do not update]",
              input_html: { class: 'form-control' },
              required: false %>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= label_tag "append_collection_ids", "Add to Collection" %></div>
          <%= select_tag :append_collection_ids,
              options_from_collection_for_select(@collections, "id", "title"),
              include_blank: "[Do not update]",
              input_html: { class: 'form-control append-collection-ids' },
              multiple: true,
              required: false %>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= label_tag "remove_collection_ids", "Remove from Collection" %></div>
          <%= select_tag :remove_collection_ids,
              options_from_collection_for_select(@removable_collections, "id", "title"),
              input_html: { class: 'form-control remove-collection-ids' },
              multiple: true,
              required: false %>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= label_tag "holding_location", "Holding Location" %></div>
          <%= select_tag :holding_location,
              options_from_collection_for_select(ControlledVocabulary.for(:holding_location).all, "value", "label"),
              include_blank: "[Do not update]",
              input_html: { class: 'form-control holding-location' },
              required: false %>
        </div>
        <div class="card-footer card-save-controls pull-right">
          <%= submit_tag "Apply Edits",
            id: 'bulk-edit-submit',
            class: 'btn btn-primary',
            data: {confirm: "Are you sure you want to bulk edit #{@resources_count} resources?"}
          %>
        </div>
      <% end %>
    </div>  
  </div>
</div>
