<h2>Bulk edit <%= @document_list.count %> resources</h2>
<%= form_tag bulk_edit_resources_update_url(search_params: search_state.params_for_search) do %>

  <h3>Workflow State</h3>
  <%= check_box_tag "mark_complete" %>
  <%= label_tag "mark_complete", "Mark all complete" %>

  <div>
    <%= submit_tag "Apply Edits",
      id: 'bulk-edit-submit',
      class: 'btn btn-primary',
      data: {confirm: "Are you sure you want to bulk edit #{@document_list.count} resources?"}
    %>
  </div>
<% end %>
