<% if can?(:create, Numismatics::Place) %>
<h1>Numismatic Places</h1>
<table id="members" class="table table-striped datatable">
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Region</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @numismatic_places.each do |numismatic_place| %>
        <tr>
          <td><%= numismatic_place.city %></td>
          <td><%= numismatic_place.geo_state %></td>
          <td><%= numismatic_place.region %></td>
          <td>
            <%= link_to 'View', solr_document_path(numismatic_place), class: 'btn btn-secondary' %>
            <%= link_to 'Edit', main_app.polymorphic_path([:edit, numismatic_place]), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
  <%= link_to 'New Numismatic Place', new_numismatics_place_path, class: 'btn btn-primary' %>
<% end %>
