<ul id="<%= dom_id preservation_audit %>">
  <li>
    <strong>Created at:</strong>
    <%= preservation_audit.created_at %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= preservation_audit.status %>
  </li>

  <li>
    <strong>Extent:</strong>
    <%= preservation_audit.extent %>
  </li>

  <li>
    <strong>Batch:</strong>
    <%= preservation_audit.batch_id %>
  </li>

  <li>
    <strong>Failures:</strong>
    <%= preservation_audit.preservation_check_failures.count %>
  </li>

  <% if preservation_audit.ids_from %>
    <li>
      <strong>This audit only ran on ids from</strong>
      <%= link_to "audit #{preservation_audit.ids_from.id}", preservation_audit.ids_from %>
    </li>
  <% end %>

</ul>
