<div id="<%= dom_id preservation_audit %>">
  <p>
    <strong>Status:</strong>
    <%= preservation_audit.status %>
  </p>

  <p>
    <strong>Extent:</strong>
    <%= preservation_audit.extent %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= preservation_audit.batch_id %>
  </p>

  <p>
    <strong>Failures:</strong>
    <%= preservation_audit.preservation_check_failures.count %>
  </p>

</div>
