<div class='nested-fields'>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :person_id, required: f.object.required?(:person_id) %>
      <%= link_to 'New Person', new_numismatics_person_path, class: 'btn btn-sm btn-primary new-link', target: '_blank'%>
      <%= f.hidden_field :person_id, ajax_select_type: "Person"%>
    </div>
    <div class="col-md-6">
      <%= f.label :firm_id, required: f.object.required?(:firm_id) %>
      <%= link_to 'New Firm', new_numismatics_firm_path, class: 'btn btn-sm btn-primary new-link', target: '_blank'%>
      <%= f.hidden_field :firm_id, ajax_select_type: "Firm"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :date_out, input_html: { class: 'timepicker' }, required: f.object.required?(:date_out), label: "Date out" %>
    </div>
    <div class="col-md-6">
      <%= f.input :date_in, input_html: { class: 'timepicker' }, required: f.object.required?(:date_in), label: "Date in" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :exhibit_name, required: f.object.required?(:exhibit_name), label: "Exhibit name" %>
    </div>
    <div class="col-md-6">
      <%= f.input :note, required: f.object.required?(:note), label: "Note" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :type, required: f.object.required?(:type), label: "Type" %>
    </div>
  </div>
  <%= f.hidden_field :id %>
  <%= link_to_remove_association f do %>
    <button type="button" class="btn btn-link remove">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">Remove</span>
    </button>
  <% end %>
</div>
