<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Weekly collection report for <%= @collection_title %></h2>
    <% @resources.each.group_by(&:state).each do |state, objects| %>
    <p><%= objects.length %> Resource(s) in workflow state "<%= Array.wrap(state).first %>"</p>
    <ul>
      <% objects[0, 10].each do |resource| %>
      <li>
        <%= link_to Array.wrap(resource.title).first,
          Rails.application.routes.url_helpers.solr_document_url(resource, host: Figgy.default_url_options[:host]) %>
      </li>
      <% end %>
    </ul>
    <%= link_to "View All", Rails.application.routes.url_helpers.search_catalog_url(f: { member_of_collection_titles_ssim: [@collection_title], state_ssim: [Array.wrap(state).first] }, host: Figgy.default_url_options[:host]) %>
    <% end %>

    <p>You received this email because you are a collection owner of <%= link_to @collection_title.html_safe, Rails.application.routes.url_helpers.solr_document_url(@collection, host: Figgy.default_url_options[:host]) %>
  </body>
</html>
