<h1>File Manager</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if decorated_change_set_resource.try(:decorated_parent).present? %>
      <li class="breadcrumb-item"><%= link_to decorated_change_set_resource.decorated_parent.first_title, solr_document_path(id: decorated_change_set_resource.decorated_parent.id.to_s) %></li>
    <% end %>
    <li class="breadcrumb-item"><%= link_to decorated_change_set_resource.first_title, solr_document_path(id: "#{@change_set.id}") %></li>
    <li class="breadcrumb-item active">File Manager</li>
  </ol>
</nav>
<div id="file-manager-extra-tools">
  <%= render "file_manager_extra_tools" %>
</div>
<div>
</div>
<% if !@children.empty? %>
  <div data-action="file-manager">
    <div class="col-md-12">
      <p class="text-muted">
        <em>Total files: <%= @children.count %></em>
      </p>
    </div>
    <div class="col-md-12">
      <%= render "file_manager_members" %>
    </div>
  </div>
<% end %>
<% if decorated_change_set_resource.try(:wayfinder).try(:child_tombstones).to_a.present? %>
  <h2>Deleted Files</h2>
  <table class="table">
    <thead>
      <tr>
        <th>File Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% decorated_change_set_resource.wayfinder.child_tombstones.each do |tombstone| %>
        <tr>
          <td><%= tombstone.file_set_title&.first %> (<%= tombstone.file_set_original_filename&.first %>)</td>
          <td>
            <% if tombstone.preservation_object.present? && @change_set.respond_to?(:tombstone_restore_ids) %>
              <%= simple_form_for(@change_set) do |f| %>
                <%= f.hidden_field :tombstone_restore_ids, multiple: true, value: [tombstone.id.to_s] %>
                <%= f.submit "Reinstate" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
