<% content_for :head do %>
  <%= stylesheet_pack_tag 'ordermanager' %>
  <%= javascript_pack_tag 'ordermanager' %>
<% end %>
<div class="container">
<ul class="breadcrumb">
  <% if decorated_change_set_resource.try(:decorated_parent_resource).present? %>
    <li><%= link_to decorated_change_set_resource.decorated_parent_resource.first_title, solr_document_path(id: "#{decorated_change_set_resource.decorated_parent_resource.id}") %></li>
  <% end %>
  <li><%= link_to decorated_change_set_resource.first_title, solr_document_path(id: "#{@change_set.id}") %></li>
  <li class="active">Order Manager</li>
</ul>
</div>
<order-manager data-resource="<%= @change_set.id %>"></order-manager>
<!--
<div id="order-manager" data-class-name="<%= @change_set.model_name.plural %>" data-resource="<%= @change_set.id %>"></div> -->
