<div class='nested-fields'>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :part, required: f.object.required?(:part), label: "Part" %>
    </div>
    <div class="col-md-6">
      <%= f.input :number, required: f.object.required?(:number), label: "Number" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :numismatic_reference_id, required: f.object.required?(:numismatic_reference_id) %>
      <%= f.hidden_field :numismatic_reference_id, ajax_select_type: "Reference"%>
    </div>
  </div>
  <%= f.hidden_field :id %>
  <%= link_to_remove_association f do %>
    <button type="button" class="btn btn-link remove">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">Remove</span>
    </button>
  <% end %>
</div>
