<%= simple_form_for @parent_change_set, url: ephemera_project_templates_path(ephemera_project_id: @parent.id.to_s) do |parent| %>
  <%= parent.input :title %>
  <%= parent.input :model_class, as: :hidden %>
  <%= parent.simple_fields_for :child_change_set do |f| %>
    <% f.object = TemplateChangeSet::TemplateChangeSetDecorator.new(f.object) %>
    <div class="row">
      <div class="col-xs-12 col-sm-8" role="main">
        <div class="form-panel-content">
          <%= yield "metadata_tab".to_sym if content_for? "metadata_tab".to_sym %>
          <%= render "form_metadata", f: f %>
        </div>
      </div>

      <div id="savewidget" class="col-xs-12 col-sm-4" role="complementary">
        <%= render 'form_progress', f: f %>
      </div>
    </div>
  <% end %>
<% end %>
