<% if can?(:create, Numismatics::Monogram) %>
<h1>Numismatic Monograms</h1>
<table id="members" class="table table-striped datatable">
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Filename</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @numismatic_monograms.each do |monogram| %>
        <tr>
          <td><%= document_presenter(monogram).thumbnail.thumbnail_tag({ onerror: default_icon_fallback }, suppress_link: true)%></td>
          <td><%= monogram.decorated_filename %> </td>
          <td><%= monogram.title %></td></td>
          <td>
            <%= link_to 'View', solr_document_path(monogram.id.to_s), class: 'btn btn-secondary' %>
            <%= link_to 'Edit', main_app.polymorphic_path([:edit, monogram]), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
  <%= link_to 'New Numismatic Monogram', new_numismatics_monogram_path, class: 'btn btn-primary' %>
<% end %>
