<aside id="form-progress" class="form-progress panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t("valhalla.works.progress.header") %></h3>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <fieldset>
        <legend class="legend-save-work"><%= t('.requirements') %></legend>
        <ul class="requirements">
          <li class="incomplete" id="required-metadata"><%= t('.required_descriptions') %></li>
        </ul>
      </fieldset>
    </div>

    <div class="set-access-controls list-group-item">
      <%= render 'form_visibility_component', f: f %>
    </div>
  </div>
  <div class="panel-footer text-center">
    <br>
    <%= link_to t(:'helpers.action.cancel'),
                main_app.root_path,
                class: 'btn btn-default' %>

    <%= f.submit class: 'btn btn-primary' %>
    <% if f.object.resource.is_a?(EphemeraFolder) && params[:controller] == "ephemera_folders" %>
      <%= f.submit "Save and Create Another", class: 'btn btn-primary' %>
    <% end %>
  </div>
</aside>
