<% content_for :head do %>
  <%= javascript_pack_tag 'filemanager' %>
  <%= stylesheet_pack_tag 'filemanager' %>
<% end %>

<div class="container">
<ul class="breadcrumb">
  <li><%= link_to decorated_change_set_resource.header, solr_document_path(id: "#{@change_set.id}") %></li>
  <li class="active">File Manager</li>
</ul>
</div>

<div id="file-manager-browse-everything">
  <%= render "file_manager_extra_tools" %>
</div>

<div id="filemanager" data-class-name="<%= @change_set.model_name.plural %>" data-resource="<%= @change_set.id %>"/>
