<footer class="l-footer row container col-md-12" id="footer" role="contentinfo">
    <div class="l-region l-region--footer pul-processed container">
        <nav class="block block--menu block--menu-menu-find block--menu-menu-find col-sm-3" id="block-menu-menu-find">
            <h2 class="block__title block__title"><a class="footer-link" href="http://library.princeton.edu/research">Research Tools</a></h2>
            <ul class="menu">
                <li class="first leaf">
                    <a class="footer-link" href=
                    "http://dss.princeton.edu">Data and Statistics</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/research/databases"
                    title="Browse Research Databases by Title or Subject">Databases</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href=
                    "http://getit.princeton.edu/" title=
                    "Browse Electronic Journal Titles">E-journals</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/library-guides" title=
                    "Library Research Guides">Research Guides</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href=
                    "http://catalog.princeton.edu" title=
                    "Access the library's main catalog">Main Catalog</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/find/all">Search</a>
                </li>

                <li class="last leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/databases/subject/special-collections" title=
                    "Finding Aids for the Princeton University Archives and Special Collections">
                    Special Collections</a>
                </li>
            </ul>
        </nav>

        <nav class="block block--menu block--menu-menu-information-for block--menu-menu-information-for col-sm-3" id="block-menu-menu-information-for">
            <h2 class="block__title block__title"><a class="footer-link"
            href="http://library.princeton.edu/services">Library Services</a></h2>

            <ul class="menu">
                <li class="first leaf">
                    <a class="footer-link" href="http://library.princeton.edu/services/article-express"
                    title=
                    "Use our Interlibrary Loan and Article Express Services">
                    Article Express</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/services/borrowdirect">Borrow Direct</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/services/privileges/circulation-policies">Circulation</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/services/reserves">Course
                    Reserves</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/services/interlibrary-services" title=
                    "Interlibrary Loan Services, Article Express">Interlibrary
                    Loan (ILL)</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/services/privileges">Library Privileges</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/accounts">Your
                    Accounts</a>
                </li>

                <li class="last leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/services/study-spaces">Study Spaces and Lockers</a>
                </li>
            </ul>
        </nav>

        <nav class="block block--menu block--menu-menu-about block--menu-menu-about col-sm-3" id="block-menu-menu-about">
            <h2 class="block__title block__title"><a class="footer-link"
            href="http://library.princeton.edu/about">About the Library</a></h2>

            <ul class="menu">
                <li class="first leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/collections-and-collection-development">Collections
                    and Collecting</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href=
                    "http://rbsc.princeton.edu/exhibitions">Exhibitions</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/about/locations">Library
                    Locations</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/alumni">For Alumni</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/staff">For Library
                    Staff</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/staff/directory">Staff
                    Directory</a>
                </li>

                <li class="leaf">
                    <a class="footer-link" href="http://library.princeton.edu/about/friends">Friends of
                    the Library</a>
                </li>

                <li class="last leaf">
                    <a class="footer-link" href=
                    "http://library.princeton.edu/services/technology/off-campus-access">Using the
                    Library Off-Campus</a>
                </li>
            </ul>
        </nav>

        <div class="block block--block block--block-1 block--block-1 col-sm-3" id="block-block-1">
            <div class="block__content block__content">
                <h2>Princeton University Library</h2>

                <div class="footer--icons">
                    <a class="facebook-logo" href=
                    "http://www.facebook.com/PULibrary" title=
                    "Friend us on Facebook">
                    <%= image_tag 'facebook.png' %></a>
                    <a class="twitter-logo" href=
                    "http://twitter.com/PULibrary" title=
                    "Follow us on Twitter">
                    <%= image_tag 'twitter.png' %></a>
                    <a class="govdocs-logo" href=
                    "http://libguides.princeton.edu/govdocs" title=
                    "Government Documents Depository">
                    <%= image_tag 'govdocs.png' %></a>
                    <a class="friends-logo" href="http://library.princeton.edu/about/friends" title=
                    "Friends of the Library">
                    <%= image_tag 'friends.png' %></a>
                </div>

                <address>
                    One Washington Road<br>
                    Princeton, NJ 08544-2098 USA<br>
                    (609) 258-1470 Phone
                </address>

                <div class="pu">
                    <a class="pu-logo" href=
                    "http://www.princeton.edu">
                    <%= image_tag 'pu.png', width: '200' %></a>
                </div>

                <p class="footer--copyright">© 2015 The Trustees of
                Princeton University. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
