<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%# There were errors when we tried to include this webpack %>
    <%# see comments culminating with https://github.com/pulibrary/figgy/pull/3754#issuecomment-598510375 %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <%= javascript_tag do %>
      oldDefine = define;
      define = null;
    <% end %>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.js"></script>
    <script src="//cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>

    <%= javascript_tag do %>
      define = oldDefine;
    <% end %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag "application" %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
    <div class="lux">
      <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
        <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
        <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
        <%= content_for(:skip_links) %>
      </nav>
      <%= content_for(:above_container) %>

      <main>
        <div id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
          <%= content_for(:container_header) %>

          <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

          <div class="row">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        </div>
      </main>

      <%= render partial: 'shared/footer' %>
      <%= render partial: 'shared/modal' %>
    </div>
  </body>
<% end %>
