<p id="notice"><%= notice %></p>

<h1>
  <%= link_to 'Vocabularies', ephemera_vocabularies_path %> » Terms
</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>URI</th>
      <th>Vocabulary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td class="vocab"><%= link_to term.label, solr_document_path(term) %></td>
        <td class="vocab"><%= link_to term.uri.to_s, term.uri.to_s %></td>
        <td class="vocab"><%= link_to term.vocabulary.label, solr_document_path(term.vocabulary) %></td>
        <td class="vocab"><%= link_to 'Show', solr_document_path(term) %></td>
        <td class="vocab"><%= link_to 'Edit', edit_ephemera_term_path(term) %></td>
        <td class="vocab"><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vocabulary Term', new_ephemera_term_path %>
