<div class='nested-fields'>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :person_id, required: f.object.required?(:person_id) %>
      <%= link_to 'New Person', new_numismatics_person_path, class: 'btn btn-sm btn-primary new-link', target: '_blank'%>
      <%= f.hidden_field :person_id, ajax_select_type: "Person"%>
    </div>
    <div class="col-md-6">
      <%= f.input :signature, required: f.object.required?(:signature), label: "Signature" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :role, required: f.object.required?(:role), label: "Role" %>
    </div>
    <div class="col-md-6">
      <%= f.input :side, required: f.object.required?(:side), label: "Side" %>
    </div>
  </div>
  <%= f.hidden_field :id %>
  <%= link_to_remove_association f do %>
    <button type="button" class="btn btn-link remove">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">Remove</span>
    </button>
  <% end %>
</div>
