<h2>Bulk Ingest <%= @resource_class.human_readable_type.pluralize %></h2>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <p>Ingest one or more individual, multi-volume, or mixed resources. Files selected must be contained in a parent directory.</p>
    </div>
    <div class="col-md-12">
      <button id="bulk_structure_example" type="button" class="btn btn-info browse-everything" data-toggle="modal" data-target="#bulk-structure-example-modal">
        Show example directory structure
      </button>
    </div>
  </div>
  <%= form_tag polymorphic_path([main_app, :bulk_ingest]), class: "bulk-ingest-form", id: "browse-everything-form" do |f| %>
    <div class="row">
      <div class="col-md-3">
        <legend class="bulk-ingest-legend">Files (1)</legend>
        <div class="well well-sm">
          <div class="input-group mb-2">
            <%= text_field_tag :ingest_directory, nil, class: 'form-control', readonly: true, id: 'ingest_directory_field' %>
            <div class="input-group-append">
              <div class="input-group-text input-path-wrapper">
                <input-path-selector :start-tree='<%= FileBrowserDiskProvider.new(root: Figgy.config["ingest_folder_path"]).to_json %>' input-element-id='ingest_directory_field' summary-element-id='ingestDirectorySummary' />
              </div>
            </div>
          </div>
          <small id="ingestDirectorySummary" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-3">
        <%= render "workflow_state" %>
      </div>
      <div class="col-md-6">
        <%= render "visibility" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= render "collections" %>
      </div>
      <div class="col-md-3">
        <%= render "holding_location" %>
      </div>
      <div class="col-md-3">
        <legend class="bulk-ingest-legend">Options (5)</legend>
        <div class="checkbox">
          <label>
            <%= check_box_tag 'preserve_file_names' %>
            Preserve File Names (prevents naming files 1/2/3 etc)
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <legend class="bulk-ingest-legend">Submit (7)</legend>
        <div class="well well-sm">
          <%= submit_tag "Bulk Ingest", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="bulk-structure-example-modal" tabindex="-1" role="dialog" aria-labelledby="bulk structure example">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Example directory structures</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Single volume work:</p>
        <ul>
          <li>ingest_dir</li>
          <ul>
            <li>bib_id</li>
            <ul>
              <li>1.tiff</li>
            </ul>
          </ul>
        </ul>
        <p>Multi-volume work:</p>
        <ul>
          <li>ingest_dir</li>
          <ul>
            <li>bib_id</li>
            <ul>
              <li>vol1</li>
              <ul>
                <li>1.tiff</li>
              </ul>
              <li>vol2</li>
              <ul>
                <li>1.tiff</li>
              </ul>
            </ul>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
