<h2>Bulk Ingest <%= @resource_class.human_readable_type.pluralize %></h2>

<div class="col-md-12">
  <%= form_tag polymorphic_path([main_app, :browse_everything_files_bulk_ingest]), class: "bulk-ingest-form", id: "browse-everything-form" do %>
    <div class="row">
      <div class="col-md-3">
        <%= render "visibility" %>
      </div>
      <div class="col-md-3">
        <%= render "workflow_state" %>
      </div>
      <div class="col-md-3">
        <%= render "collections" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <legend class="bulk-ingest-legend">Files (5)</legend>
        <div class="well well-sm">

          <button id="browse_everything" type="button" class="btn btn-primary browse-everything" data-toggle="modal" data-target="#browse-everything-modal">
            Select Folder on Server
          </button>
          <%= render 'browse_everything/modal' %>

        </div>
      </div>
    </div>
  <% end %>
</div>
