<h2>
  <% if @resource_class == ScannedResource %>
    <%= t("bulk_ingest.show.heading.scanned_resource") %>
  <% else %>
    <%= t("bulk_ingest.show.heading.default", resource: @resource_class.human_readable_type.pluralize) %>
  <% end %>
</h2>

<% if params[:resource_type] == "ephemera_folder"  %>
  <%= render "ephemera_folder_ingest" %>
<%elsif params[:resource_type] == "numismatics/coin" %>
  <%= render "coin_ingest" %>
<% else %>
  <%= render "default_ingest" %>
<% end %>
