  <div class="admin-controls">
    <% if can?(:update, resource) %>
      <%= link_to "Edit This #{resource.human_readable_type}", main_app.polymorphic_path([:edit, resource]), class: 'btn btn-light' %>
    <% end %>
    <% if can?(:edit, resource) %>
      <div class="btn-group">
        <% if can?(:create, Template) %>
          <%= link_to "Create New Folder Template", new_ephemera_project_template_path([decorated_resource.ephemera_project], model_class: "EphemeraFolder"), class: 'btn btn-light' %>
        <% end %>
          <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attach Ephemera Folder<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "No Template", polymorphic_path([:parent, :new, resource]) %>
              </li>
              <% decorated_resource.ephemera_project.templates.each do |template| %>
                <li>
                <%= link_to template.template_label, polymorphic_path([:parent, :new, resource], template_id: template.id) %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    <% end %>

    <div class="pull-right">
      <% if can?(:update, resource) %>
        <%= link_to "Attach Hard Drive", attach_drive_ephemera_box_path(resource), class: 'btn btn-primary' %>
      <% end %>
      <% if can?(:destroy, resource) %>
        <%= link_to "Delete This #{resource.human_readable_type}", main_app.polymorphic_path([resource]), class: 'btn btn-danger', data: { confirm: "Delete this #{resource.human_readable_type}?" }, method: :delete %>
      <% end %>
    </div>
  </div>
