<h2>Files</h2>
<%= simple_form_for FileSetChangeSet.new(resource), html: { class: ['edit_file_set', 'admin_controls'] } do |f| %>
  <table class="table table-striped files">
    <thead>
      <tr>
        <th>Label</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
    <% resource.original_files.each do |file| %>
      <tr>
        <td><span class="label label-success">Original File</span>&nbsp;<%= file.label.first %></td>
        <% if can?(:download, resource) %>
          <td><%= link_to "Download", download_path(resource.id, file.id) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    <% resource.derivative_files.each do |file| %>
      <tr>
        <td><span class="label label-info">Derivative File</span>&nbsp;<%= file.label.first %></td>
        <% if can?(:download, resource) %>
          <td><%= link_to "Download", download_path(resource.id, file.id) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    <% resource.intermediate_files.each do |file| %>
      <tr>
        <td><span class="label label-info">Intermediate File</span>&nbsp;<%= file.label.first %></td>
        <% if can?(:download, resource) %>
          <td><%= link_to "Download", download_path(resource.id, file.id) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    <% resource.preservation_files.each do |file| %>
      <tr>
        <td><span class="label label-info">Preservation Master</span>&nbsp;<%= file.label.first %></td>
        <% if can?(:download, resource) %>
          <td><%= link_to "Download", download_path(resource.id, file.id) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    <% resource.thumbnail_files.each do |file| %>
      <tr>
        <td><span class="label label-info">Thumbnail File</span>&nbsp;<%= file.label.first %></td>
        <% if can?(:download, resource) %>
          <td><%= link_to "Download", download_path(resource.id, file.id) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
<% end %>
<%= render "admin_controls_default" %>
