  <div class="admin-controls">
    <% if can?(:update, resource) %>
      <%= link_to "Edit #{resource.human_readable_type}", main_app.polymorphic_path([:edit, resource]), class: 'btn btn-light' %>
    <% end %>
    <% if can?(:file_manager, resource) %>
      <% if decorated_resource.manageable_files? %>
        <%= link_to "File Manager", main_app.polymorphic_path([:file_manager, resource]), class: 'btn btn-light' %>
      <% end %>
    <% end %>
    <% if can?(:order_manager, resource) %>
      <% if decorated_resource.orderable_files? %>
        <%= link_to "Order Manager", main_app.polymorphic_path([:order_manager, resource]), class: 'btn btn-light' %>
      <% end %>
    <% end %>
    <% if can?(:structure, resource) %>
      <% if decorated_resource.manageable_structure? %>
        <%= link_to "Structure Manager", main_app.polymorphic_path([:structure, resource]), class: 'btn btn-light' %>
      <% end %>
    <% end %>
    <%= render "attach_child_default", resource: resource %>

    <div class="pull-right">
      <% if can?(:edit, resource) && can?(:create, EphemeraFolder) %>
        <% if decorated_resource.ephemera_box %>
          <%= link_to 'Attach Another Folder', new_ephemera_folder_path(parent_id: decorated_resource.ephemera_box.id), class: 'btn btn-primary' %>
        <% elsif decorated_resource.ephemera_project %>
          <%= link_to 'Attach Another Folder', boxless_new_ephemera_folder_path(parent_id: decorated_resource.ephemera_project.id), class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <% if can?(:destroy, resource) %>
        <%= link_to "Delete This #{resource.human_readable_type}", main_app.polymorphic_path([resource]), class: 'btn btn-danger', data: { confirm: "Delete this #{resource.human_readable_type}?" }, method: :delete %>
      <% end %>
    </div>
  </div>
