<% projects = Valkyrie.config.metadata_adapter.query_service.find_all_of_model(model: EphemeraProject).select{|x| can?(:edit, x)}.map(&:decorate) %>
<% if projects.length > 0 %>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-classify-work">
        <div class="card-header">Ephemera</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 pb-3">
              <%= link_to 'Bulk Ingest',
                bulk_ingest_show_path(EphemeraFolder.to_s.underscore),
                class: "add-button btn btn-primary #{dom_class(EphemeraFolder)}" %>
            </div>
          </div>
          <div class="row">
            <% projects.to_a.sort_by(&:title).each do |project| %>
              <div class="work-type-card-col">
                <div class="card work-type work-type-<%= project.title %>">
                  <div class="card-body">
                    <div class="card-title"><%= project.title %></div>
                    <%= content_tag(:div, nil, class: ['work-icon', "icon-#{project.title.downcase.gsub(' ','-')}"]) %>
                    <%= link_to 'View Boxes', solr_document_path(id: "#{project.id}"),
                      class: "add-button btn btn-primary #{dom_class(project, 'view')}" %>
                    <%= link_to 'Add Box', ephemera_project_add_box_path(project, parent_id: project.id),
                      class: "add-button btn btn-primary #{dom_class(project, 'add_new')}" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
