<% projects = Valkyrie.config.metadata_adapter.query_service.find_all_of_model(model: EphemeraProject).select{|x| can?(:edit, x)}.map(&:decorate) %>
<% if projects.length > 0 %>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-classify-work">
        <div class="card-header">Ephemera</div>
        <div class="card-body">
          <ul class="classify-work">
            <% projects.to_a.sort_by(&:title).each do |project| %>
              <li class="work-type work-type-<%= project.title %>">
                <h4 class="title"><%= project.title %></h4>
                <%= content_tag(:div, nil, class: ['work-icon', "icon-#{project.title.downcase.gsub(' ','-')}"]) %>
                <%= link_to 'View Boxes', solr_document_path(id: "#{project.id}"),
                  class: "add-button btn btn-primary #{dom_class(project, 'view')}" %>
                <%= link_to 'Add Box', ephemera_project_add_box_path(project, parent_id: project.id),
                  class: "add-button btn btn-primary #{dom_class(project, 'add_new')}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
