      <td><%= file.updated_at %></td>
      <td><%= format_fixity_success(resource.decorate.local_fixity_success_of(file.id)) %>
          <br/>Last Success: <%= resource.decorate.local_fixity_last_success_date_of(file.id) %></td>
      <td><%= format_cloud_fixity_success(resource.decorate.cloud_fixity_success_of(file.id)) %>
          <br/>Last Success: <%= resource.decorate.cloud_fixity_last_success_date_of(file.id) %></td>
      <% if can?(:download, resource) %>
        <td><%= link_to "Download", download_path(resource.id, file.id) %></td>
      <% else %>
        <td></td>
      <% end %>
