          <div class="check">
            <lux-icon-base width="50" height="50" icon-color="<%= t("health_status.status.#{check.status}.icon_color") %>">
              <lux-icon-<%= t("health_status.status.#{check.status}.icon") %>></lux-icon-<%= t("health_status.status.#{check.status}.icon") %>>
            </lux-icon-base>
            <div class="check-status">
              <h6><%= check.type %> Status: <%= t("health_status.status.#{check.status}.label") %></h6>
              <small><%= check.summary %></small>
              <% if check.display_unhealthy_resources %>
                <div class="problematic-resources-accordion accordion" id="<%= "problematic-resources-accordion-#{check.name}" %>-files">
                  <span class="problematic-resources-arrow-right">
                    <lux-icon-base width="20" height="20" icon-color="<%= t("health_status.status.#{check.status}.icon_color") %>">
                      <lux-icon-arrow-right></lux-icon-arrow-right>
                    </lux-icon-base>
                  </span>
                  <span class="problematic-resources-arrow-down">
                    <lux-icon-base width="20" height="20" icon-color="<%= t("health_status.status.#{check.status}.icon_color") %>">
                      <lux-icon-arrow-down></lux-icon-arrow-down>
                    </lux-icon-base>
                  </span>
                  <button class="btn btn-link text-left collapsed" type="button" data-toggle="collapse" data-target=<%= "#problematic-resources-collapse-#{check.name}" %> aria-expanded="true" aria-controls="collapseOne">
                    Show Problematic Resources
                  </button>
                  <div class="problematic-resources collapse" id="<%= "problematic-resources-collapse-#{check.name}" %>" aria-labelledby="headingOne" data-parent="<%= "#problematic-resources-accordion-#{check.name}" %>-files">
                    <div class="problematic-resources-list" id=<%= "problematic-resources-list-#{check.name}" %> src=<%= "#{solr_document_path}/health_report/#{check.name}" %> >
                      <ul>
                        <div class="problematic-resources-list-loader">
                          <lux-loader size="medium"></loader>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
