          <div class="check">
            <lux-icon-base width="50" height="50" icon-color="<%= t("health_status.status.#{check.status}.icon_color") %>">
              <lux-icon-<%= t("health_status.status.#{check.status}.icon") %>></lux-icon-<%= t("health_status.status.#{check.status}.icon") %>>
            </lux-icon-base>
            <div class="check-status">
              <h6><%= check.type %> Status: <%= t("health_status.status.#{check.status}.label") %></h6>
              <small><%= check.summary %></small>
              <% if check.status == :in_progress || check.status == :needs_attention %>
                <div class="accordion" id="<%= "problematic-resources-accordion-#{check.name}" %>-files">
                  <div style="display: flex">
                    <lux-icon-base width="20" height="20" icon-color="<%= t("health_status.status.#{check.status}.icon_color") %>">
                      <lux-icon-arrow-right></lux-icon-arrow-right><p1>hello</p1>
                    </lux-icon-base>
                    <button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target=<%= "#problematic-resources-collapse-#{check.name}" %> aria-expanded="true" aria-controls="collapseOne">
                      Show Problematic Resources
                    </button>
                  </div>
                  <div id="<%= "problematic-resources-collapse-#{check.name}" %>" class="collapse" aria-labelledby="headingOne" data-parent="<%= "#problematic-resources-accordion-#{check.name}" %>-files">
                    <turbo-frame id=<%= "problematic-resources-list-#{check.name}" %> loading="lazy" src=<%= "#{solr_document_path}/health_report/#{check.name}" %> >
                      <loader size="medium"></loader>
                    </turbo-frame>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
