<br />
<p>
  <%=t('product_name') %> is a secure application that enables
  <%=t('institution.name') %> to efficiently carry out varied
  and complex workflows related to digitization while adhering to standards
  and best practices which ensure that our content will be preserved and
  accessible to our community and the world for generations.
</p>

<%= render partial: 'catalog/work_types', locals: { label: 'Books, Manuscripts, Scanned Documents, and CDs',
                                                    types: [ScannedResource],
                                                    bulk: [ScannedResource] } %>

<%= render partial: 'catalog/work_types', locals: { label: 'Maps and Geospatial Data',
                                                    types: [ScannedMap, RasterResource, VectorResource],
                                                    bulk: [ScannedMap, RasterResource, VectorResource] } %>

<%= render partial: 'catalog/numismatics_home' %>

<%= render partial: 'catalog/work_types_collections', locals: { label: 'Collections',
                                                                types: [Collection],
                                                                bulk: [] } %>

<%= render partial: 'catalog/work_types_media_reserves', locals: { label: 'Audio',
                                                    types: [ScannedResource],
                                                    bulk: [] } %>

<%= render partial: 'catalog/ephemera_box_home' %>

<%= render partial: 'catalog/report_home' %>

<%= render partial: 'catalog/fixity_dashboard_home' %>

<%= render partial: 'catalog/deleted_resources_home' %>
