  <div class="panel panel-default">
    <div class="panel-heading">
      <% panel_title ||= "Child #{member_type.titleize.pluralize}" %>
      <h2 class="panel-title"><%= panel_title %></h2>
    </div>
    <div class="panel-body member-resources" id="<%= "members-#{member_type.pluralize.dasherize}-panel"%>">
      <%= simple_form_for @change_set do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="loading-status hidden">Loading...</div>
            <table id="<%= "members-#{member_type.pluralize.dasherize}" %>"
                   class="table table-striped member-resources <%= "member-#{member_type.pluralize.dasherize}" %>"
            data-update-url="<%= polymorphic_url([resource]) %>"
            data-query-url="<%= solr_document_path(id: resource.id) %>"
            data-members="<%= decorated_resource.members.map { |member| member.id.to_s } %>"
            data-resource-id="<%= resource.id.to_s %>"
            data-param-key="<%= ActiveModel::Naming.param_key(decorated_resource.model.class) %>">
              <thead>
                <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Date Uploaded</th>
                <th>Visibility</th>
                <th>Local Fixity</th>
                <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% unless decorated_members.empty? %>
                  <% decorated_members.each do |resource| %>
                    <% resource_url = parent_solr_document_path(parent_id: decorated_resource.id, id: resource.id) %>
                    <tr data-resource-id="<%= resource.id.to_s %>">
                      <td><%= link_to figgy_thumbnail_path(resource, { class: 'thumbnail-inner', onerror: default_icon_fallback }), resource_url %></td>
                      <td><%= resource.first_title %></td>
                      <td><%= resource.created_at %></td>
                      <td><%= resource.visibility_badge.first.html_safe %></td>
                      <td><%= resource.fixity_badges.html_safe %></td>
                      <td>
                        <%= link_to 'View', resource_url, class: 'btn btn-default' %>
                        <%= link_to 'Edit', main_app.polymorphic_path([:edit, resource]), class: 'btn btn-default' %>
                        <span class="input-group-btn">
                          <%= f.button :button, "Detach", class: ["btn","btn-danger", 'btn-remove-row'] %>
                        </span>
                    </tr>
                  <% end %>
                <% else %>
                  <% empty_text ||= "This work has no #{member_type.humanize(capitalize: false).pluralize} attached. Click \"Attach\" to attach #{member_type.humanize(capitalize: false).pluralize}." %>
                  <tr>
                    <td><%= empty_text %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
                <tr class="message has-warning hidden">
                  <td class="alert-warning"></td>
                  <td id="warning-message" class="alert-warning"></td>
                  <td class="alert-warning"></td>
                  <td class="alert-warning"></td>
                  <td class="alert-warning"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <% placeholder_text ||= "Child #{member_type.humanize(capitalize: false)} identifier..." %>
            <%= f.input :member_ids,
                        placeholder: placeholder_text,
                        label: false,
                        required: false,
                        input_html: {
                          id: "child_#{member_type}_id_input",
                          class: [
                            'related_resource_ids',
                            'resource_member_ids',
                            'form-control'
                          ],
                          value: nil
                        } %>
          </div>
          <div class="col-md-2">
            <span class="input-group-btn">
              <%= f.button :button, "Attach", id: "child_#{member_type}_button", class: ["btn","btn-primary","btn-add-row"] %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
