<%# partial for the table / form used to attach and detach member resources
    Expected locals:
      member_type [String] e.g. "scanned_resource"
      decorated_members [Array<ResourceDecorator>] the list of member
        objects to put into the table
    Optional locals:
      empty_text [String] the message to show if there are no members
      placeholder_text [String] placeholder value for the id input element
    %>

  <div class="card mb-4">
    <div class="card-header">
      <% panel_title ||= "Child #{member_type.titleize.pluralize}" %>
      <%= panel_title %>
    </div>
    <div class="card-body member-resources"
      id="<%= "members-#{member_type.pluralize.dasherize}-panel"%>">
      <%= simple_form_for @change_set do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="loading-status d-none">Loading...</div>

            <table
              id="<%= "members-#{member_type.pluralize.dasherize}" %>"
              class="table table-striped member-resources <%= "member-#{member_type.pluralize.dasherize} member-resources-datatable" %>"
              data-update-url="<%= polymorphic_url([resource]) %>"
              data-query-url="<%= solr_document_path(id: resource.id) %>"
              data-members="<%= decorated_resource.members.map { |member| member.id.to_s } %>"
              data-resource-id="<%= resource.id.to_s %>"
              data-param-key="<%= ActiveModel::Naming.param_key(decorated_resource.model.class) %>">
              <thead>
                <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Date Uploaded</th>
                <th>Visibility</th>
                <th>Local Fixity</th>
                <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% decorated_members.each do |resource| %>
                  <% resource_url = parent_solr_document_path(parent_id: decorated_resource.id, id: resource.id) %>
                  <tr data-resource-id="<%= resource.id.to_s %>">
                    <td><%= link_to figgy_thumbnail_path(resource, { class: 'thumbnail-inner', onerror: default_icon_fallback }), resource_url %></td>
                    <td><%= resource.first_title %></td>
                    <td><%= resource.created_at %></td>
                    <td><%= resource.visibility_badge.first.html_safe %></td>
                    <td><%= resource.fixity_badges.html_safe %></td>
                    <td>
                      <%= link_to 'View', resource_url, class: 'btn btn-default' %>
                      <%= link_to 'Edit', main_app.polymorphic_path([:edit, resource]), class: 'btn btn-default' %>
                      <span class="input-group-btn">
                        <%= f.button :button, "Detach", class: ["btn","btn-danger", 'btn-remove-row'] %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- row -->

        <% if decorated_members.empty? %>
          <div class="row">
            <div class="col-md-6">
              <% empty_text ||= "This work has no #{member_type.humanize(capitalize: false).pluralize} attached. Click \"Attach\" to attach #{member_type.humanize(capitalize: false).pluralize}." %>
              <p><%= empty_text %></p>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="message has-warning hidden col-md-6">
            <p id="warning-message" class="alert-warning"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <% placeholder_text ||= "Child #{member_type.humanize(capitalize: false)} identifier..." %>
            <%= f.input :member_ids,
                        placeholder: placeholder_text,
                        label: false,
                        required: false,
                        input_html: {
                          id: "child_#{member_type}_id_input",
                          class: [
                            'related_resource_ids',
                            'resource_member_ids',
                            'form-control'
                          ],
                          value: nil
                        } %>
          </div>
          <div class="col-md-2">
            <span class="input-group-btn">
              <%= f.button :button, "Attach", id: "child_#{member_type}_button", class: ["btn","btn-primary","btn-add-row"] %>
            </span>
          </div>
        </div><!-- row -->

      <% end %><%# simpleform %>
    </div>
  </div><!-- panel -->
