<table class="table table-striped coin-datatable">
  <thead>
    <tr><h3>Numismatics::Coins</h3><tr>
    <tr>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Date Uploaded</th>
      <th>Visibility</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless decorated_resource.decorated_coins.empty? %>
      <% decorated_resource.decorated_coins.each do |coin| %>
        <% coin_url = parent_solr_document_path(parent_id: resource.id, id: coin.id) %>
        <tr>
          <td style="width: 30%"><%= link_to figgy_thumbnail_path(coin, { class: 'thumbnail-inner', onerror: default_icon_fallback }), coin_url %></td>
          <td><%= coin.first_title %></td>
          <td><%= coin.created_at %></td>
          <td><%= coin.visibility_badge.first.html_safe %></td>
          <td>
              <%= link_to 'View', coin_url, class: 'btn btn-secondary' %>
              <%= link_to 'Edit', main_app.polymorphic_path([:edit, coin]), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>  
    <% else %>
      <tr>
        <td>This work has no coins attached. Click the "Attach Coin" button to create a new coin.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
