<% if resource.is_a?(ScannedResource) %>
  <h2>Members</h2>
  <table class="table table-striped">
    <tr>
     <th>Thumbnail</th>
     <th>Title</th>
     <th>Date Uploaded</th>
     <th>Visibility</th>
     <th>Actions</th>
    </tr>
    <% unless decorated_resource.volumes.empty? %>
      <% decorated_resource.volumes.each do |volume| %>
        <% volume_url = parent_solr_document_path("#{resource.id}", "id-#{volume.id}") %>
        <tr>
          <td><%= link_to figgy_thumbnail_path(volume, { class: 'thumbnail-inner', onerror: default_icon_fallback }), volume_url %></td>
          <td><%= volume.header %></td>
          <td><%= volume.created_at %></td>
          <td><%= volume.visibility.first.html_safe %></td>
          <td>
            <%= link_to 'View', volume_url, class: 'btn btn-default' %>
            <%= link_to 'Edit', main_app.polymorphic_path([:edit, volume]), class: 'btn btn-default' %>
            <%= link_to "Delete", main_app.polymorphic_path([volume]), class: 'btn btn-danger',
                                  data: { confirm: "Delete this #{resource.human_readable_type}?" },
                                  method: :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td>This work has no volumes attached.  Click "Attach Child" to attach volumes.</td>
    <% end %>
  </table>
<% elsif resource.is_a?(EphemeraProject) %>
  <h2>Boxes</h2>
  <ul>
    <% resource.decorate.boxes.each do |box| %>
      <li><%= link_to "Box #{box.box_number.first}", Valhalla::ContextualPath.new(child: box, parent_id: nil).show %></li>
    <% end %>
  </ul>
  <% if can?(:create, EphemeraBox) %>
    <%= link_to 'Add Box', ephemera_project_add_box_path(resource, parent_id: resource.id), class: 'btn btn-primary' %>
  <% end %>
  <br/><br/>

  <h2>Controlled Fields</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Vocabulary</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% resource.decorate.fields.each do |ephemera_field| %>
        <tr>
          <td><%= ephemera_field.name %></td>
          <td><%= link_to ephemera_field.vocabulary.label, ephemera_field.vocabulary %></td>
          <% if can?(:modify, ephemera_field) %>
            <td><%= link_to 'Edit', edit_ephemera_project_ephemera_field_path(resource, ephemera_field) %></td>
          <% end %>
          <% if can?(:delete, ephemera_field) %>
            <td><%= link_to 'Destroy', ephemera_project_ephemera_field_path(resource, ephemera_field), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if can?(:create, EphemeraField) %>
    <!--'Add Field'-->
  <% end %>

  <h2>Templates</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Template Label</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% resource.decorate.templates.each do |template| %>
        <tr>
          <td><%= template.template_label %></td>
          <td>
            <!--'Add Delete'-->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% elsif resource.is_a?(EphemeraBox) %>
  <h2>Folders</h2>
  <table class="table table-striped">
    <tr>
      <th>Folder Number</th>
      <th>Workflow State</th>
      <th>Title</th>
      <th>Barcode</th>
      <th>Genre</th>
      <th>Actions</th>
    </tr>
    <% unless decorated_resource.folders.empty? %>
      <% decorated_resource.folders.each do |volume| %>
        <% volume_url = parent_solr_document_path("#{resource.id}", "id-#{volume.id}") %>
        <tr>
          <td><%= link_to figgy_thumbnail_path(volume, { class: 'thumbnail-inner', onerror: default_icon_fallback }), volume_url %></td>
          <td><%= volume.header %></td>
          <td><%= volume.created_at %></td>
          <td><%= volume.visibility.first.html_safe %></td>
          <td>
            <%= link_to 'View', volume_url, class: 'btn btn-default' %>
            <%= link_to 'Edit', main_app.polymorphic_path([:edit, volume]), class: 'btn btn-default' %>
            <%= link_to "Delete", main_app.polymorphic_path([volume]), class: 'btn btn-danger',
                                  data: { confirm: "Delete this #{resource.human_readable_type}?" },
                                  method: :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td>This work has no folders attached.  Click "Attach Folder" to attach folders.</td>
    <% end %>
  </table>
<% end %>
