<h2>Members</h2>
<%= link_to "View ARK / Component ID report", archival_media_collections_ark_report_path, class: 'btn btn-default' %>
<div class="search-widgets pull-right">
  <%= form_tag solr_document_path(id: @document.id), method: :get, class: 'per_page form-horizontal' do %>
    <div class="form-group form-group-lg">
      <fieldset class="col-xs-12">
        <legend class="sr-only"><%= t('sort_label') %></legend>
        <%= label_tag(:sort, "<span>Sort By:</span>".html_safe) %>
        <%= select_tag(:sort, options_for_select(active_sort_fields, h(params[:sort]))) %>
        <%= label_tag(:per_page) do %>
          Show <%= select_tag(:per_page, options_for_select(['10', '20', '50', '100'], h(params[:per_page])), title: "Number of results to display per page") %>
          per page
        <% end %>
        <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:per_page, :sort)) %>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
      </fieldset>
      <%= render 'view_type_group' %>
    </div>
  <% end %>
</div>

<%= render_document_index @document_facade.members %>

<% if @document_facade.total_pages > 1 %>
  <div class="pagination">
    <%= paginate @document_facade.query_response, outer_window: 2, theme: 'blacklight' %>
    <div class="clearfix"></div>
  </div><!-- /pager -->
<% end %>
