<h2>Members</h2>
<table id="members" class="table table-striped">
  <thead>
    <tr>
     <th>Thumbnail</th>
     <th>Title</th>
     <th>Date Uploaded</th>
     <th>Visibility</th>
     <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless decorated_resource.simple_resource_members.empty? %>
      <% decorated_resource.simple_resource_members.each do |member| %>
        <% member_url = parent_solr_document_path("#{resource.id}", "#{member.id}") %>
        <tr>
          <td><%= link_to figgy_thumbnail_path(member, { class: 'thumbnail-inner', onerror: default_icon_fallback }), member_url %></td>
          <td><%= member.first_title %></td>
          <td><%= member.created_at %></td>
          <td><%= member.visibility.first.html_safe %></td>
          <td>
            <%= link_to 'View', member_url, class: 'btn btn-default' %>
            <%= link_to "Delete", main_app.polymorphic_path([member]), class: 'btn btn-danger',
                                  data: { confirm: "Delete this #{resource.human_readable_type}?" },
                                  method: :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>This work has no members attached.  Click "Attach Child" to attach members.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
