  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Child Scanned Maps</h2>
    </div>
    <div class="panel-body member-resources">
      <%= simple_form_for @change_set do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="loading-status hidden">Loading...</div>
            <table id="members-scanned-maps"
            class="table table-striped member-resources member-scanned-maps"
            data-update-url="<%= polymorphic_url([resource]) %>"
            data-query-url="<%= solr_document_path(id: resource.id) %>"
            data-members="<%= decorated_resource.members.map { |member| member.id.to_s } %>"
            data-param-key="<%= ActiveModel::Naming.param_key(decorated_resource.model.class) %>">
              <thead>
                <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Date Uploaded</th>
                <th>Visibility</th>
                <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% unless decorated_resource.scanned_map_members.empty? %>
                  <% decorated_resource.scanned_map_members.each do |scanned_map| %>
                    <% scanned_map_url = parent_solr_document_path(parent_id: resource.id, id: scanned_map.id) %>
                    <tr data-resource-id="<%= scanned_map.id.to_s %>">
                      <td><%= link_to figgy_thumbnail_path(scanned_map, { class: 'thumbnail-inner', onerror: default_icon_fallback }), scanned_map_url %></td>
                      <td><%= scanned_map.first_title %></td>
                      <td><%= scanned_map.created_at %></td>
                      <td><%= scanned_map.visibility_badge.first.html_safe %></td>
                      <td>
                        <%= link_to 'View', scanned_map_url, class: 'btn btn-default' %>
                        <%= link_to 'Edit', main_app.polymorphic_path([:edit, scanned_map]), class: 'btn btn-default' %>
                        <span class="input-group-btn">
                          <%= f.button :button, "Detach", class: ["btn","btn-danger", 'btn-remove-row'] %>
                        </span>
                      </td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>This work has no scanned map or raster resources attached.  Click "Attach Child" to attach new resources.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
                <tr class="message has-warning hidden">
                  <td id="warning-message" class="alert-warning"></td>
                  <td class="alert-warning"></td>
                  <td class="alert-warning"></td>
                  <td class="alert-warning"></td>
                  <td class="alert-warning"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <%= f.input :member_ids,
                        placeholder: 'Attach an existing resource by ID...',
                        label: false,
                        required: false,
                        input_html: {
                          class: [
                            'related_resource_ids',
                            'resource_member_ids',
                            'form-control'
                          ],
                          value: nil
                        } %>
          </div>
          <div class="col-md-2">
            <span class="input-group-btn">
              <%= f.button :button, "Attach", class: ["btn","btn-primary","btn-add-row"] %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
