<% unless decorated_resource.volumes.empty? %>
  <h2>Members</h2>
  <table id="members" class="table table-striped">
    <tr>
     <th>Thumbnail</th>
     <th>Title</th>
     <th>Date Uploaded</th>
     <th>Visibility</th>
     <th>Actions</th>
    </tr>
    <% decorated_resource.volumes.each do |volume| %>
      <% volume_url = parent_solr_document_path("#{resource.id}", "#{volume.id}") %>
      <tr>
        <td><%= link_to figgy_thumbnail_path(volume, { class: 'thumbnail-inner', onerror: default_icon_fallback }), volume_url %></td>
        <td><%= volume.first_title %></td>
        <td><%= volume.created_at %></td>
        <td><%= volume.visibility_badge.first.html_safe %></td>
        <td>
          <%= link_to 'View', volume_url, class: 'btn btn-secondary' %>
          <%= link_to 'Edit', main_app.polymorphic_path([:edit, volume]), class: 'btn btn-secondary' %>
          <%= link_to "Delete", main_app.polymorphic_path([volume]), class: 'btn btn-danger',
                                data: { confirm: "Delete this #{resource.human_readable_type}?" },
                                method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
