  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Child Vector Resources</h2>
    </div>
    <div class="panel-body member-resources" id="members-vector-resources-panel">
      <%= simple_form_for @change_set do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="loading-status hidden">Loading...</div>
            <table id="members-vector-resources"
            class="table table-striped member-resources member-vector-resources"
            data-update-url="<%= polymorphic_url([resource]) %>"
            data-query-url="<%= solr_document_path(id: resource.id) %>"
            data-members="<%= decorated_resource.members.map { |member| member.id.to_s } %>"
            data-resource-id="<%= resource.id.to_s %>"
            data-param-key="<%= ActiveModel::Naming.param_key(decorated_resource.model.class) %>">
              <thead>
                <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Date Uploaded</th>
                <th>Visibility</th>
                <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% unless decorated_resource.decorated_vector_resources.empty? %>
                  <% decorated_resource.decorated_vector_resources.each do |vector_resource| %>
                    <% vector_resource_url = parent_solr_document_path(parent_id: resource.id, id: vector_resource.id) %>
                    <tr data-resource-id="<%= vector_resource.id.to_s %>">
                      <td><%= link_to figgy_thumbnail_path(vector_resource, { class: 'thumbnail-inner', onerror: default_icon_fallback }), vector_resource_url %></td>
                      <td><%= vector_resource.first_title %></td>
                      <td><%= vector_resource.created_at %></td>
                      <td><%= vector_resource.visibility_badge.first.html_safe %></td>
                      <td>
                        <%= link_to 'View', vector_resource_url, class: 'btn btn-default' %>
                        <%= link_to 'Edit', main_app.polymorphic_path([:edit, vector_resource]), class: 'btn btn-default' %>
                        <span class="input-group-btn">
                          <%= f.button :button, "Detach", class: ["btn","btn-danger", 'btn-remove-row'] %>
                        </span>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>This work has no vector resources attached.  Click "Attach Child" to attach vector resources.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
                <tr class="message has-warning hidden">
                  <td class="alert-warning"></td>
                  <td id="warning-message" class="alert-warning"></td>
                  <td class="alert-warning"></td>
                  <td class="alert-warning"></td>
                  <td class="alert-warning"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <%= f.input :member_ids,
                        placeholder: 'Child vector resource identifier...',
                        label: false,
                        required: false,
                        input_html: {
                          id: "child_vector_resource_id_input",
                          class: [
                            'related_resource_ids',
                            'resource_member_ids',
                            'form-control'
                          ],
                          value: nil
                        } %>
          </div>
          <div class="col-md-2">
            <span class="input-group-btn">
              <%= f.button :button, "Attach", id: "child_vector_resource_button", class: ["btn","btn-primary","btn-add-row"] %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
