  <h2>Boxes</h2>
  <table id="members" class="table table-striped datatable">
    <thead>
    <tr>
      <th>Workflow State</th>
      <th>Box Number</th>
      <th>Barcode</th>
      <th>Hard Drive</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% decorated_resource.boxes.each do |box| %>
      <% box_url = parent_solr_document_path("#{resource.id}", "#{box.id}") %>
      <tr>
        <td><%= box.rendered_state %></td>
        <td><%= box.box_number.first %></td>
        <td class="barcode"><%= box.barcode %></td>
        <td class="drive_barcode"><%= box.drive_barcode %></td>
        <td>
          <%= link_to 'View', box_url, class: 'btn btn-secondary' %>
          <%= link_to 'Edit', main_app.polymorphic_path([:edit, box]), class: 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if can?(:update, resource) %>
    <%= link_to 'Add Box', ephemera_project_add_box_path(resource, parent_id: resource.id), class: 'btn btn-primary' %>
  <% end %>
  <br/><br/>

  <%= render 'members_ephemera_box' %>
  <% if can?(:update, resource) %>
    <%= link_to 'Attach Folder', boxless_new_ephemera_folder_path(parent_id: resource.id), class: 'btn btn-primary' %>
  <% end %>

  <h2>Controlled Fields</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Vocabulary</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% decorated_resource.fields.each do |ephemera_field| %>
        <tr>
          <td><%= ephemera_field.name_label %></td>
          <td><%= link_to ephemera_field.vocabulary_label, ContextualPath.new(child: ephemera_field.vocabulary, parent_id: nil).show %></td>
          <% if can?(:modify, ephemera_field) %>
            <td><%= link_to 'Edit', edit_ephemera_field_path(ephemera_field) %></td>
          <% end %>
          <% if can?(:delete, ephemera_field) %>
            <td><%= link_to 'Destroy', ephemera_field_path(ephemera_field), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if can?(:create, EphemeraField) %>
    <%= link_to 'Add Field', ephemera_project_add_field_path(resource, parent_id: resource.id), class: 'btn btn-primary' %>
  <% end %>

  <% unless decorated_resource.top_language.blank? %>
    <h2>Top languages</h2>
    <ul>
      <% decorated_resource.top_language.each do |top_lang| %>
        <li><%= top_lang.label %></li>
      <% end %>
    </ul>
  <% end %>

  <h2>Templates</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Template Label</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% decorated_resource.templates.each do |template| %>
        <tr>
          <td><%= template.template_label %></td>
          <td>
            <%= link_to "Delete", ephemera_project_template_path(ephemera_project_id: resource.id, id: template.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Delete this template?' } %>
            <!--'Add Delete'-->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
