  <h2>Folders</h2>
  <table class="table table-striped datatable">
    <thead>
    <tr>
      <% if decorated_resource.is_a?(EphemeraBox) %>
        <th>Folder Number</th>
      <% end %>
      <th>Workflow State</th>
      <th>Title</th>
      <th>Barcode</th>
      <th>Genre</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% unless decorated_resource.folders.empty? %>
      <% decorated_resource.folders.each do |folder| %>
        <% folder_url = parent_solr_document_path("#{resource.id}", "#{folder.id}") %>
        <tr>
          <% if decorated_resource.is_a?(EphemeraBox) %>
            <td class="folder_number"><%= link_to folder.folder_number, folder_url %></td>
          <% end %>
          <td><%= folder.rendered_state %></td>
          <td><%= folder.header %></td>
          <td class="barcode"><%= folder.barcode %></td>
          <td class="genre"><%= folder.genre %></td>
          <td>
            <%= link_to 'View', folder_url, class: 'btn btn-default' %>
            <%= link_to 'Edit', main_app.polymorphic_path([:edit, folder]), class: 'btn btn-default' %>
            <%= link_to "Delete", main_app.polymorphic_path([folder]), class: 'btn btn-danger',
                                  data: { confirm: "Delete this #{resource.human_readable_type}?" },
                                  method: :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td>This work has no folders attached.  Click "Attach Folder" to attach folders.</td>
    <% end %>
    </tbody>
  </table>
