<div class="row">
  <div class="col-md-8">
    <h2>Files</h2>
  </div>
  <% if resource.video? %>
    <div class="col-md-4 d-flex flex-row-reverse">
      <%= link_to "Attach Caption", new_caption_file_set_file_metadata_path(file_set_id: resource.id), class: "btn btn-primary align-self-end mt-auto mb-auto" %>
    </div>
  <% end %>
</div>
<table class="table table-striped files">
  <thead>
    <tr>
      <th>Label</th>
      <th>Last Modified</th>
      <th>Local Fixity</th>
      <th>Cloud Fixity</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
  <% resource.original_files.each do |file| %>
    <tr>
      <td><span class="badge badge-success">Original File</span>&nbsp;<%= file.label.first %></td>
      <%= render partial: 'file_detail', locals: { file: file } %>
    </tr>
  <% end %>
  <% resource.captions.each do |file| %>
    <tr>
      <td><span class="badge badge-dark">Caption</span>&nbsp;<span class="badge badge-dark"><%= file.caption_language_label %></span>&nbsp;<%= file.label.first %></td>
      <%= render partial: 'file_detail', locals: { file: file } %>
    </tr>
  <% end %>
  <% resource.derivative_files.each do |file| %>
    <tr>
      <% if resource.derivative_partial_files.length > 0 && file.mime_type.include?("application/x-mpegURL") %>
        <td><span class="badge badge-info">Derivative File</span>&nbsp;<%= file.label.first %> (<%= resource.derivative_partial_files.length %> Partials)</td>
      <% else %>
        <td><span class="badge badge-info">Derivative File</span>&nbsp;<%= file.label.first %></td>
      <% end %>
      <%= render partial: 'file_detail', locals: { file: file } %>
    </tr>
  <% end %>
  <% resource.cloud_derivative_files.each do |file| %>
    <tr>
      <td><span class="badge badge-info">Cloud Derivative File</span>&nbsp;<%= file.label.first %></td>
      <td><%= file.updated_at %></td><td></td><td></td><td></td>
    </tr>
  <% end %>
  <% resource.intermediate_files.each do |file| %>
    <tr>
      <td><span class="badge badge-info">Intermediate File</span>&nbsp;<%= file.label.first %></td>
      <%= render partial: 'file_detail', locals: { file: file } %>
    </tr>
  <% end %>
  <% resource.preservation_files.each do |file| %>
    <tr>
      <td><span class="badge badge-info">Preservation File</span>&nbsp;<%= file.label.first %></td>
      <%= render partial: 'file_detail', locals: { file: file } %>
    </tr>
  <% end %>
  <% resource.thumbnail_files.each do |file| %>
    <tr>
      <td><span class="badge badge-info">Thumbnail File</span>&nbsp;<%= file.label.first %></td>
      <%= render partial: 'file_detail', locals: { file: file } %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4"></td>
    </tr>
  </tfoot>
</table>
