  <div class="card mb-4">
    <div class="card-header">
      Parent Vector Resources
    </div>
    <div class="card-body parent-resources">
      <%= simple_form_for @change_set do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="loading-status d-none">Loading...</div>
            <table id="parent-vector-resources"
                  class="table table-striped parent-resources parent-vector-resources"
                  data-update-url="<%= polymorphic_url([resource]) %>"
                  data-query-url="<%= solr_document_path(id: resource.id) %>"
                  data-parents="<%= decorated_resource.parents.to_a.map { |parents| parents.id.to_s } %>"
                  data-resource-id="<%= resource.id.to_s %>"
                  data-param-key="<%= ActiveModel::Naming.param_key(decorated_resource.model.class) %>">
              <thead>
                <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Date Uploaded</th>
                <th>Visibility</th>
                <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% decorated_resource.decorated_vector_resource_parents.each do |vector_resource| %>
                  <% vector_resource_url = solr_document_path(vector_resource.id) %>
                  <tr data-resource-id="<%= vector_resource.id.to_s %>" data-update-url="<%= polymorphic_path([ActiveModel::Naming.route_key(resource.class).to_sym, :remove_from_parent], id: resource.id) %>">
                    <td><%= link_to figgy_thumbnail_path(vector_resource, { class: 'thumbnail-inner', onerror: default_icon_fallback }), vector_resource_url %></td>
                    <td><%= vector_resource.first_title %></td>
                    <td><%= vector_resource.created_at %></td>
                    <td><%= vector_resource.visibility_badge.first.html_safe %></td>
                    <td>
                      <%= link_to 'View', vector_resource_url, class: 'btn btn-secondary' %>
                      <%= link_to 'Edit', main_app.polymorphic_path([:edit, vector_resource]), class: 'btn btn-secondary' %>
                      <span class="input-group-btn">
                        <%= f.button :button, "Detach", class: ["btn","btn-danger", 'btn-remove-row'] %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- row -->

        <% if decorated_resource.decorated_vector_resource_parents.empty? %>
          <div class="row">
            <div class="col-md-6">
              <p>This work is not attached to any vector resources.  Click "Attach" to attach to an existing vector resource.</p>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="message has-warning hidden col-md-6">
            <p id="warning-message" class="alert-warning"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.input :member_ids,
                        placeholder: 'Parent vector resource identifier...',
                        label: false,
                        required: false,
                        input_html: {
                          id: "parent_vector_resource_id_input",
                          class: [
                            'related_resource_ids',
                            'resource_parent_ids',
                            'form-control'
                          ],
                          value: nil
                        } %>
          </div>
          <div class="col-md-2">
            <span class="input-group-btn">
              <%= f.button :button, "Attach", id: "parent_vector_resource_button", class: ["btn","btn-primary","btn-add-row"] %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
