
  <%= simple_form_for @change_set do |f| %>
    <div class="loading-status hidden">Loading...</div>
    <table id="parent-scanned-maps"
           class="table table-striped parent-resources parent-scanned-maps"
           data-update-url="<%= raster_resources_attach_to_parent_path(id: resource.id) %>"
           data-query-url="<%= solr_document_path(id: resource.id) %>"
           data-parents="<%= decorated_resource.parents.to_a.map { |parents| parents.id.to_s } %>"
           data-resource-id="<%= resource.id.to_s %>"
           data-param-key="<%= ActiveModel::Naming.param_key(decorated_resource.model.class) %>">
      <thead>
        <tr>
         <th>Thumbnail</th>
         <th>Title</th>
         <th>Date Uploaded</th>
         <th>Visibility</th>
         <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% unless decorated_resource.scanned_map_parents.empty? %>
          <% decorated_resource.scanned_map_parents.each do |scanned_map| %>
            <% scanned_map_url = parent_solr_document_path("#{resource.id}", "#{scanned_map.id}") %>
            <tr data-resource-id="<%= scanned_map.id.to_s %>" data-update-url="<%= raster_resources_remove_from_parent_path(id: resource.id) %>">
              <td><%= link_to figgy_thumbnail_path(scanned_map, { class: 'thumbnail-inner', onerror: default_icon_fallback }), scanned_map_url %></td>
              <td><%= scanned_map.first_title %></td>
              <td><%= scanned_map.created_at %></td>
              <td><%= scanned_map.visibility.first.html_safe %></td>
              <td>
                <%= link_to 'View', scanned_map_url, class: 'btn btn-default' %>
                <%= link_to 'Edit', main_app.polymorphic_path([:edit, scanned_map]), class: 'btn btn-default' %>
                <span class="input-group-btn">
                  <%= f.button :button, "Detach", class: ["btn","btn-danger", 'btn-remove-row'] %>
                </span>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>This work is not attached to any scanned maps.  Click "Attach" to attach to an existing scanned map.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        <tr class="message has-warning hidden">
          <td id="warning-message" class="alert-warning"></td>
          <td class="alert-warning"></td>
          <td class="alert-warning"></td>
          <td class="alert-warning"></td>
          <td class="alert-warning"></td>
        </tr>
      </tbody>

      <tfoot>
        <tr class="parent-resources-attach" >
          <td>
            <%= f.input :parent_ids,
                        collection: @unrelated_parent_scanned_maps.sort_by(&:title),
                        label_method: :title,
                        value_method: :id,
                        include_blank: "Attach to an existing resource...",
                        selected: nil,
                        label: false,
                        required: false,
                        input_html: {
                          multiple: false,
                          class: ["related_resource_ids", "resource_parent_ids", "form-control"],
                          'aria-labelledby' => ""
                        } %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <span class="input-group-btn">
              <%= f.button :button, "Attach", class: ["btn","btn-primary","btn-add-row"] %>
            </span>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
