<script defer event-pagetype="Record_Page" data-domain="dpul.princeton.edu" src="https://plausible.io/js/script.pageview-props.js"></script>
<% if current_search_session %>
  <div id="appliedParams" class="clearfix constraints-container">
    <%= render 'start_over' %>
    <%= link_back_to_catalog class: 'btn btn-outline-secondary' %>
    <%= render "health_status" %>
  </div>
<% else %>
  <%= render "health_status" %>
<% end %>

<%= render 'show_main_content' %>

<% content_for(:sidebar) do %>
  <% if current_user %>
    <%= render_document_sidebar_partial @document %>
  <% end %>
<% end %>
