<h1>Nomisma RDF</h1>

<div class="row">
  <div class="col-md-12">
  <%= link_to "Download Most Recent", download_nomisma_document_path(@most_recent), class: 'btn btn-primary' %>
  </div>
</div>

<div id="document">
<div class="card mb-4">
  <div class="card-header">
     RDF Documents
  </div>
  <div class="card-body member-resources" id="nomisma-documents-panel">
    <div class="row">
      <div class="col-md-12">
        <table id="nomisma-documents-table" class="table table-striped nomisma-documents-datatable">
          <thead>
            <tr>
              <th>Created</th>
              <th>State</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @nomisma_documents.each do |nomisma_document| %>
              <% nomisma_document_url = solr_document_path("#{nomisma_document.id}") %>
              <tr>
                <td><%= nomisma_document.created_at %></td></td>
                <td><%= nomisma_document.state %></td></td>
                <td>
                  <div class="admin-controls">
                  <%= link_to 'Download', download_nomisma_document_path(nomisma_document), class: 'btn btn-primary' %>

                  <% if can?(:destroy, NomismaDocument) %>
                    <%= link_to 'Delete', main_app.polymorphic_path([nomisma_document]), class: 'btn btn-danger', data: { confirm: 'Are you sure?' }, method: :delete %>
                  <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
