<% if can?(:create, Numismatics::Reference) %>
<h1>Numismatic References</h1>
<table id="members" class="table table-striped datatable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Short Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @numismatic_references.each do |numismatic_reference| %>
        <% numismatic_reference_url = solr_document_path("#{numismatic_reference.id}") %>
        <tr>
          <td><%= numismatic_reference.title %></td></td>
          <td><%= numismatic_reference.short_title %></td></td>
          <td>
            <%= link_to 'View', numismatic_reference_url, class: 'btn btn-secondary' %>
            <%= link_to 'Edit', main_app.polymorphic_path([:edit, numismatic_reference]), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
  <%= link_to 'New Numismatic Reference', new_numismatics_reference_path, class: 'btn btn-primary' %>
<% end %>
