<h2>DPUL Success Dashboard</h2>
<p>
<%= form_with(url: dpul_success_dashboard_path, method: :get, local: true) do |f| %>
  <lux-date-picker id="date_range" name="date_range" helper="Entering a single date will result in a report for that day." required="true" label="Date Range" mode="range"></lux-date-picker>
  <%= f.submit("Generate Report") %>
<% end %>
</p>
<% if @report %>
<hr/>
<p>
  <%= link_to "Download CSV", dpul_success_dashboard_path(params: {date_range: params[:date_range]}, format: :csv) %>
</p>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Views Per Visit</th>
      <th>Duration Per Visit</th>
  </thead>
  <tbody>
    <% @report.to_h.each do |r| %>
      <tr>
        <td><%= r[:day] %></td>
        <td><%= r[:views_per_visit] %></td>
        <td><%= r[:duration_per_visit] %></td>
      </tr>
    <% end %>
    <tr>
      <td>Totals</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>
