<h2>DPUL Success Dashboard</h2>
<div class="dashboard-heading">
  <div class="dashboard-range">
    <% if @report %>
      <h3><%= @report.display_dates %></h3>
    <% end %>
  </div>
  <div class="dashboard-form">
    <%= form_with(url: dpul_success_dashboard_path, method: :get, local: true) do |f| %>
      <lux-date-picker 
        id="date_range" 
        name="date_range" 
        helper="Entering a single date will result in a report for that day." 
        required="true" 
        label="Date Range" 
        mode="range"
        <% if @report %>
          :default-dates="{ <%= @report.default_dates %> }"
        <% end %>
        ></lux-date-picker>
      <%= f.submit("Generate Report") %>
    <% end %>
  </div>
</div>
<% if @report %>
<hr/>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Day</th>
      <th>Visitors</th>
      <th>Visits</th>
      <th>Page Views</th>
      <th>Bounce Rate</th>
      <th>Visit Duration</th>
      <th># Visitors who Downloaded</th>
      <th># Downloads</th>
  </thead>
  <tbody>
  <% @report.daily_metrics.each do |day| %>
      <tr>
        <td><%= day['date'] %></td>
        <td><%= day['visitors'] %></td>
        <td><%= day['visits'] %></td>
        <td><%= day['pageviews'] %></td>
        <td><%= day['bounce_rate'] %></td>
        <td><%= day['visit_duration'] %></td>
        <td><%= day['download_visitors'] %></td>
        <td><%= day['download_events'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>