<% content_for(:above_container) do %>
  <div class="lux">
    <%= render "shared/header" %>
  </div>
  <%= render "shared/flash_message" %>
<% end %>
<% content_for(:content) do %>
  <% if content_for? :sidebar %>
    <section id="sidebar" class="<%= sidebar_classes %>" aria-label="<%= t('blacklight.search.documents.aria.limit_search') %>">
      <%= content_for(:sidebar) %>
    </section>

    <section id="content" class="<%= main_content_classes %> container" aria-label="<%= t('blacklight.search.documents.aria.search_results') %>">
      <%= yield %>
    </section>

  <% else %>
    <section class="col-md-12">
      <%= yield %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
